@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab');
/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;*/
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}
h2{
  font-size: 200%;
  text-transform: capitalize;
}
.nav-bar{
  height: 10vh;
  background: black;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-family: 'Roboto Slab', serif;
  color: white;

}
.nav-bar p:hover{
  border-bottom: 3px solid white;
}
.landing{
  padding-top: 10vh;
  /*background-image: url('../img-personalSite/Code-feat.jpeg');*/
  /*background-image: url('../img-personalSite/fingers-at-keyboard.jpeg');*/
  /*background-image: url('../img-personalSite/minified-code-screen.jpeg');*/
  /*background-image: url('../img-personalSite/html-screen.jpeg');*/
  /*background-image: url('../img-personalSite/delicate-arch.jpeg');*/
  background-image: url("../img-personalSite/atDeskWorking.jpeg");
  background-color: #004484;
  background-blend-mode: screen;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing p{
  margin-bottom: 20%;
  color: white;
  font-size: 150%;
  text-align: center;
}
.profile-pic{
  border-radius: 50%;
  background: url(../img-personalSite/sheriden-option.jpg);
  background-position: center;
  background-size: cover;
  height: 490px;
  width: 490px;
  /* border: 5px solid #1985A1; */
  position: absolute;
  top: -13vh;
  /* border: 5px solid #4C5C68; */
}
.logos-container{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  margin: 2em;
}
.github{
   background-image: url("../img-personalSite/GitHub-Mark-Light-120px-plus.png" );
}

.linkedin{
    background-image: url("../img-personalSite/In-White-128px-R.png" );
}

.email{
  background-image: url("../img-personalSite/Envelope_font_awesome.svg");
}
.logo{
  background-size: cover;
  height: 2em;
  width: 2em;
  /*background-color: #1985A1;*/
  background-blend-mode: screen;
}

.about{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 25vh;
  background: #004484;
}
.projects{
color: #004484;
  /*height: 25vh;*/
}
.projects img{
  width: 100%;
}

.contact{
  color: white;
  background: black;
  height: 25vh;
}

a:hover{
  text-decoration: underline;
}
