@media  (max-width: 600px)  {
  body{
      font-size: 130%;
    }
    .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    /*margin: 1%;*/
     margin-left: 9%;
}
 .space-trader{
   flex-direction: column;
   justify-content: center;
   height: 210vh;
   text-align: left;
 }
  .space-trader img{
    width: 100%;
  }

 .karsync-project{
   flex-direction: column;
   justify-content: center;
   height: 210vh;

 }
 .karsync-project img{
   width: 100%;
   margin-top: 15%;
 }
 .element{
   font-size: 90%;
   margin-left: 10px;
 }
 .text-container{
   margin: 5px;
   height: 36%;
 }
 .contact{
   flex-direction: column;
 }
 .message-container{
   width: 85%;
   margin: 0;
 }
 #body{
   font-size: 150%;

 }
 .landing{
   background-image: url('../img-personalSite/delicate-arch.jpeg') no-repeat center center fixed;
   background-position: center center;
   background-size: contain;
    -webkit-background-size: cover;
 }

}

@media (max-width: 330px) {
  .box{
    margin: 1%;
  }
}

@media (min-width: 400px) {
  .box{
    margin-left: 16%;
  }
}

@media (min-width: 600px) {
  .box{
    width: 60%;
  }
}
